<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#memberModal">
            Add Member
        </button>

        <!-- Modal -->
        <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="memberModalLabel">Add Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @click.prevent>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="memberEmail">Email</label>
                            <input 
                                type="email" 
                                class="form-control" 
                                id="memberEmail" 
                                placeholder="Enter User Email" 
                                aria-describedby="nameHelp"
                                v-model="email" 
                                :class="{'border border-danger': errors.length != 0}"
                                required>
                            <small 
                                v-if="message"
                                id="nameHelp" 
                                class="form-text text-muted">
                                {{message.success}}
                            </small>
                            <small 
                                v-if="errors"
                                id="nameHelp" 
                                class="form-text text-muted">
                                {{errors.error}}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Close</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        @click.prevent="saveproject"
                        :disabled="!email"
                        >Add Member</button>
                </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data: () => ({
        email: '',
        message: [],
        errors: '',
        loading: true
    }),
    methods:{
        saveproject () {
            axios.post('/app/members', {
                email: this.email
            })
            .then( response => {
                this.message = response.data
                $('#memberModal').modal('hide')
                this.$emit('added')
                this.email = ''
                this.message = ''
                console.log(response.data)
            }).catch(errors => {
                this.errors = errors.response.data
                console.log(errors.response.data.errors)
            })
        }
    }
}
</script>

