<template>
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">My Members</h4>
       
            <add @added="getMembers(), loading = true"></add>
        </div>
            
        
        <div class="progress my-5" v-if="loading">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <div v-else>
            <div 
                v-if="members.length !== 0"
                class="table-responsive">
                <table class="table table-striped table-bordered my-2">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 40%;">Name</th>
                        <th scope="col" style="width: 40%;">Email</th>
                        <th class="text-center" scope="col" style="width: 20%;">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(member, index) in members" :key="index">
                            <th scope="row">
                                <a :href="member.path">{{member.name}}</a>
                            </th>
                            <th scope="row">
                                <a :href="member.path">{{member.email}}</a>
                            </th>
                            <td>
                                <delete 
                                    :data="member" 
                                    :index="index"
                                    @added="getMembers(), loading = true"
                                    ></delete>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div 
                v-else
                class="my-2">
                <p>No Member Found.</p>
            </div>

        </div>
    </div>
</template>



<script>
import Add from './Addmember'
import Delete from './Deletemember'
export default {
    components: {
        'Add' : Add,
        'delete' : Delete,
    },
    data: () => ({
        members: '',
        loading: true
    }),
    mounted () {
        this.getMembers()
    },
    methods:{
        getMembers () {
            axios.get('/app/members?p', {
                'Content-Type': 'application/json'
            })
            .then( response => {
                this.loading = false
                this.members = response.data.data
            }).catch(errors => {
                console.log(errors.response.data.errors)
            })
        }
    }
}
</script>
