<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn-outline-secondary btn-sm btn-block" data-toggle="modal" :data-target="'#addClientModal' + index">
            <slot></slot>
        </button>

        <!-- Modal -->
        <div class="modal fade" :id="'addClientModal' + index" tabindex="-1" role="dialog" aria-labelledby="'addClientModalLabel' + index" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" :id="'addClientModalLabel' + index">Add Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @click.prevent>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="clientName">Add Client to {{data.title}}</label>
                            <select class="custom-select" v-model="client">
                                <option value=""></option>
                                <option 
                                    v-for="(client, indexClient) in clients" 
                                    :key="indexClient"
                                    :value="client.id"
                                    >{{client.name}}</option>
                            </select>
                            <small 
                                v-if="message"
                                id="nameHelp" 
                                class="form-text text-muted">
                                {{message.success}}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Close</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        @click.prevent="saveClient"
                        >Save changes</button>
                </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    props: ['data', 'clients', 'index'],
    data: () => ({
        client: '',
        message: [],
        errors: '',
        loading: true
    }),
    mounted() {
        if (this.data.client) {
            this.client = this.data.client.id
        }
    },
    methods: {
        saveClient () {
            axios.post('/app/projects/' + this.data.id + '/client', {
                client_id: this.client
            })
            .then( response => {
                this.message = response.data
                $('#addClientModal' + this.index).modal('hide')
                this.$emit('added')
                this.client = ''
                this.message = ''
            }).catch(errors => {
                this.errors = errors.response.data.errors
                console.log(errors)
            })
        }
    }
}
</script>

