<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn-outline-secondary btn-sm btn-block" data-toggle="modal" :data-target="'#addmemberModal' + index">
            <slot></slot>
        </button>

        <!-- Modal -->
        <div class="modal fade" :id="'addmemberModal' + index" tabindex="-1" role="dialog" aria-labelledby="'addmemberModalLabel' + index" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" :id="'addmemberModalLabel' + index">Add member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @click.prevent>
                <div class="modal-body" @click.prevent>
                    <div>
                        <div class="form-group">
                            <label for="memberName">Add Member to {{data.title}}</label>
                            <select class="custom-select" multiple v-model="membermodel">
                                <option selected>Open this select menu</option>
                                <option  
                                    v-for="(member, indexmember) in members" 
                                    :key="indexmember" 
                                    :value="member.member_id"
                                    >
                                    {{member.name}} 
                                </option>
                            </select>

                            <small 
                                v-if="message"
                                id="nameHelp" 
                                class="form-text text-muted">
                                {{message.success}}
                            </small>
                            <small 
                                v-if="errors"
                                id="nameHelp" 
                                class="form-text text-muted">
                                {{errors.error}}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Close</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        @click.prevent="saveMember"
                        >Save changes</button>
                </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    props: ['data', 'members', 'index'],
    data: () => ({
        membermodel: [],
        message: [],
        errors: '',
        loading: true
    }),
    mounted() {
        var temp = []

        this.data.members.forEach(function(element) {
            temp.push(element.id)
        });

        this.membermodel = temp
    },
    methods: {
        saveMember () {
            axios.post('/app/projects/' + this.data.id + '/member', {
                user_id: this.membermodel
            })
            .then( response => {
                this.message = response.data
                $('#addmemberModal' + this.index).modal('hide')
                this.$emit('added')
                this.membermodel = ''
                this.message = ''
            }).catch(errors => {
                this.errors = errors.response.data
                console.log(errors)
            })
        }
    }
}
</script>

