<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">
            Add Project
        </button>

        <!-- Modal -->
        <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectModalLabel">Add Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @click.prevent>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="projectName">Project Name</label>
                            <input 
                                type="title" 
                                class="form-control" 
                                id="projectName" 
                                placeholder="Enter Project Name" 
                                aria-describedby="nameHelp"
                                v-model="title" 
                                :class="{'border border-warning': errors}"
                                required>
                            <small 
                                v-if="message"
                                id="nameHelp" 
                                class="form-text text-muted">
                                {{message.success}}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Close</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        @click.prevent="saveproject"
                        :disabled="!title"
                        >Add Project</button>
                </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data: () => ({
        title: '',
        message: [],
        errors: '',
        loading: true
    }),
    methods:{
        saveproject () {
            axios.post('/app/projects', {
                title: this.title
            })
            .then( response => {
                this.message = response.data
                $('#projectModal').modal('hide')
                this.$emit('added')
                this.title = ''
                this.message = ''
                console.log(response.data)
            }).catch(errors => {
                this.errors = errors.response.data.errors
                console.log(errors.response.data.errors)
            })
        }
    }
}
</script>

