<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary btn-sm btn-block" data-toggle="modal" :data-target="'#editProjectModal' + index">
            Edit
        </button>

        <!-- Modal -->
        <div class="modal fade" :id="'editProjectModal' + index" tabindex="-1" role="dialog" :aria-labelledby="'editProjectModalLabel' + index" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" :id="'editProjectModalLabel' + index">Edit {{data.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @click.prevent>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="projecttitle">Title</label>
                            <input 
                                type="title" 
                                class="form-control" 
                                id="projecttitle" 
                                placeholder="Enter title" 
                                aria-describedby="titleHelp"
                                v-model="title" 
                                :class="{'border border-warning': errors}"
                                required>
                            <small 
                                v-if="message"
                                id="titleHelp" 
                                class="form-text text-muted">
                                {{message.success}}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Close</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        @click.prevent="editProject"
                        :disabled="!title"
                        >Edit Project</button>
                </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    props: ['data', 'index'],
    data: () => ({
        title: '',
        message: [],
        errors: '',
        loading: true
    }),
    mounted () {
        this.title = this.data.title
    },
    methods:{
        editProject () {
            axios.patch('/app/projects/' + this.data.id, {
                title: this.title
            })
            .then( response => {
                this.message = response.data
                $('#editProjectModal' + this.index).modal('hide')
                this.$emit('added')
                this.title = ''
                this.message = ''
            }).catch(errors => {
                this.errors = errors.response.data.errors
                console.log(errors.response.data.errors)
            })
        }
    }
}
</script>

