<template>
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">My Projects</h4>
       
            <add @added="getProjects(), loading = true"></add>
        </div>
            
        
        <div class="progress my-5" v-if="loading">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <div v-else>
            <div 
                v-if="projects.length !== 0"
                class="table-responsive">
                <table class="table table-striped table-bordered my-2">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 25%;">Title</th>
                        <th scope="col" style="width: 25%;">Client</th>
                        <th scope="col" style="width: 25%;">Team</th>
                        <th class="text-center" scope="col" colspan="2" style="width: 25%;">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(project, index) in projects" :key="index">
                            <th scope="row">
                                <a :href="project.path">{{project.title}}</a>
                            </th>
                            <td scope="row">
                                <span v-if="project.client" class="d-flex justify-content-between align-items-center">
                                    {{project.client.name}}
                                    <add-client
                                        :data="project" 
                                        :clients="clients"
                                        :index="index"
                                        @added="getProjects(), loading = true"
                                        >Edit</add-client>
                                </span>
                                <span v-else>
                                    <add-client
                                        :data="project" 
                                        :clients="clients"
                                        :index="index"
                                        @added="getProjects(), loading = true"
                                        >Add Client</add-client>
                                </span>
                            </td>
                            <td>
                                <add-member
                                        :data="project" 
                                        :members="members"
                                        :index="index"
                                        @added="getProjects(), loading = true"
                                        >Add Member</add-member>
                                <ul v-if="project.members.length != 0" class="list-inline">
                                    <li class="list-inline-item" v-for="(member, indexMember) in project.members" :key="indexMember">
                                        {{member.name}}
                                    </li>
                                </ul> 

                            </td>
                            <td>
                                <edit 
                                    :data="project" 
                                    :index="index"
                                    @added="getProjects(), loading = true"
                                    ></edit>
                            </td>
                            <td>
                                <delete 
                                    :data="project" 
                                    :index="index"
                                    @added="getProjects(), loading = true"
                                    ></delete>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div 
                v-else
                class="my-2">
                <p>No Project Found.</p>
            </div>
            
        </div>
    </div>
</template>



<script>
import Add from './Addproject'
import Edit from './Editproject'
import Delete from './Deleteproject'
import AddClient from './AddClient'
import AddMember from './AddMember'
export default {
    props: ['clients', 'members'],
    components: {
        'Add' : Add,
        'edit' : Edit,
        'delete' : Delete,
        'add-client' : AddClient,
        'add-member' : AddMember,
    },
    data: () => ({
        projects: '',
        loading: true
    }),
    mounted () {
        this.getProjects()
    },
    methods:{
        getProjects () {
            axios.get('/app/projects?p', {
                'Content-Type': 'application/json'
            })
            .then( response => {
                this.loading = false
                this.projects = response.data.data
            }).catch(errors => {
                console.log(errors.response.data.errors)
            })
        }
    }
}
</script>
