<template>
    <div>
           
        <h4>{{project.title}}</h4>
        <span v-if="project.client" class="d-flex justify-content-between align-items-center">
            {{project.client.name}}
            <add-client
                :data="project" 
                :clients="clients"
                index="1"
                @added="getProjects(), loading = true"
                >Edit</add-client>
        </span>
        <span v-else>
            <add-client
                :data="project" 
                :clients="clients"
                index="1"
                @added="getProjects(), loading = true"
                >Add Client</add-client>
        </span>
    </div>
</template>

<script>
import AddClient from './AddClient'

export default {
    props: ['clients'],
    components: {
        'add-client' : AddClient,
    },
    data: () => ({
        project: '',
        loading: true
    }),
    mounted () {
        this.getProjects()
    },
    methods:{
        getProjects () {
            axios.get(window.location + '?p', {
                'Content-Type': 'application/json'
            })
            .then( response => {
                this.loading = false
                this.project = response.data.data
            }).catch(errors => {
                console.log(errors.response.data.errors)
            })
        }
    }
}
</script>

