<template>
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">My Client</h4>
       
            <add @added="getClients(), loading = true"></add>
        </div>
            
        
        <div class="progress my-5" v-if="loading">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <div v-else>
            <div 
                v-if="clients.length !== 0"
                class="table-responsive">
                <table class="table table-striped table-bordered my-2">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 70%;">Name</th>
                        <th class="text-center" scope="col" colspan="2">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(client, index) in clients" :key="index">
                            <th scope="row">
                                <p class="mb-0"><a :href="client.path">{{client.name}}</a></p>
                                <small><span class="text-muted">{{client.project_count}} project</span></small>
                            </th>
                            <td>
                                <edit 
                                    :data="client" 
                                    :index="index"
                                    @added="getClients(), loading = true"
                                    ></edit>
                            </td>
                            <td>
                                <delete 
                                    :data="client" 
                                    :index="index"
                                    @added="getClients(), loading = true"
                                    ></delete>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div 
                v-else
                class="my-2">
                <p>No Member Found.</p>
            </div>
            
        </div>
    </div>
</template>



<script>

import Add from './AddClient'
import Edit from './EditClient'
import Delete from './DeleteClient'
export default {
    components: {
        'add' : Add,
        'edit' : Edit,
        'delete' : Delete
    },
    data: () => ({
        clients: '',
        loading: true
    }),
    mounted () {
        this.getClients()
    },
    methods:{
        getClients () {
            axios.get('/app/clients?p', {
                'Content-Type': 'application/json'
            })
            .then( response => {
                this.loading = false
                this.clients = response.data.data

                console.log(response.data)
            }).catch(errors => {
                console.log(errors.response.data.errors)
            })
        }
    }
}
</script>
