<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger btn-sm btn-block" data-toggle="modal" :data-target="'#deleteClientModal' + index">
            Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" :id="'deleteClientModal' + index" tabindex="-1" role="dialog" :aria-labelledby="'deleteClientModalLabel' + index" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" :id="'deleteClientModalLabel' + index">Delete {{data.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p>Are you sure you want to remove {{data.name}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Close</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        @click.prevent="deleteClient"
                        :disabled="!name"
                        >Delete Client</button>
                </div>

                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    props: ['data', 'index'],
    data: () => ({
        name: '',
        message: [],
        errors: '',
        loading: true
    }),
    mounted () {
        this.name = this.data.name
    },
    methods:{
        deleteClient () {
            axios.delete('/app/clients/' + this.data.id)
            .then( response => {
                this.message = response.data
                $('#deleteClientModal' + this.index).modal('hide')
                this.$emit('added')
                this.name = ''
                this.message = ''
                console.log(response.data)
            }).catch(errors => {
                this.errors = errors.response.data.errors
                console.log(errors.response.data.errors)
            })
        }
    }
}
</script>

