<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary btn-sm btn-block" data-toggle="modal" :data-target="'#editClientModal' + index">
            Edit
        </button>

        <!-- Modal -->
        <div class="modal fade" :id="'editClientModal' + index" tabindex="-1" role="dialog" :aria-labelledby="'editClientModalLabel' + index" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" :id="'editClientModalLabel' + index">Edit {{data.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @click.prevent>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="clientName">Name</label>
                            <input 
                                type="name" 
                                class="form-control" 
                                id="clientName" 
                                placeholder="Enter Name" 
                                aria-describedby="nameHelp"
                                v-model="name" 
                                :class="{'border border-warning': errors}"
                                required>
                            <small 
                                v-if="message"
                                id="nameHelp" 
                                class="form-text text-muted">
                                {{message.success}}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Close</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        @click.prevent="editClient"
                        :disabled="!name"
                        >Edit Client</button>
                </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    props: ['data', 'index'],
    data: () => ({
        name: '',
        message: [],
        errors: '',
        loading: true
    }),
    mounted () {
        this.name = this.data.name
    },
    methods:{
        editClient () {
            axios.patch('/app/clients/' + this.data.id, {
                name: this.name
            })
            .then( response => {
                this.message = response.data
                $('#editClientModal' + this.index).modal('hide')
                this.$emit('added')
                this.name = ''
                this.message = ''
                console.log(response.data)
            }).catch(errors => {
                this.errors = errors.response.data.errors
                console.log(errors.response.data.errors)
            })
        }
    }
}
</script>

